.complete
{
	color: rgb(10, 179, 10);
	font-weight: bold;
	
}
.manage {
	margin: 50px 50px;
	
}

.hide {
	display: none
}
button
{	
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 0px;
}
input[type=text]
{
	transform: scale(1.1);
}

li {
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.418);
	font-size: 130%;
	margin: auto 50px;
	padding: 10px 10px;
	border-radius: 5px;
	
}
.success{
	background: rgba(135, 238, 104, 0.424);
	
}